@font-face {
	font-family: 'PT Sans Bold';
	src: url('../fonts/PTSans-Bold.eot');
	src: local('../fonts/PT Sans Bold'), local('PTSans-Bold'),
		url('../fonts/PTSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PTSans-Bold.woff') format('woff'),
		url('../fonts/PTSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Helvetica Bold';
	src: url('../fonts/helvetica.ttf.eot');
	src: local('../fonts/Helvetica'), local('Helvetica'),
		url('../fonts/Helvetica.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PT Sans Italic';
	src: url('../fonts/PTSans-Italic.eot');
	src: local('../fonts/PT Sans Italic'), local('PTSans-Italic'),
		url('../fonts/PTSans-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PTSans-Italic.woff') format('woff'),
		url('../fonts/PTSans-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'PT Sans Regular';
	src: url('../fonts/PTSans-Regular.eot');
	src: local('../fonts/PT Sans'), local('../fonts/PTSans-Regular'),
		url('../fonts/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PTSans-Regular.woff') format('woff'),
		url('../fonts/PTSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@keyframes rot {
        from {
                transform: rotate(0deg)
                           translate(-88px)
                           rotate(360deg);
        }
        to {
                transform: rotate(360deg)
                           translate(-88px)
                           rotate(360deg);
        }
}

*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #f7f7f7;
}
.container{
	margin: 0 auto;
	width: 1170px;
}
.menu{
	height: 74px;
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
	background-color: #ffffff;
}
.header{

}
.home{
	background: url(../pic/bg.png) no-repeat top center;
	width: 100%;
	height: 716px;
	color: #ffffff;
}
.menu__list{
	display: inline-block;
	margin-top: 30px;
}
.menu__link{
	color: #353535;
	text-decoration: none;
}
.menu__link:hover{
	color: #467bbf;
	 border-bottom: 3px solid #467bbf;

}
.menu__li{
	display: inline-block;
	margin-right: 55px;
	font-family: "PT Sans Regular";
	font-size: 14px;
	font-weight: 400;
}
.menu__number{
	display: flex;
    align-items: center;
	float: right;
	margin-top: 28px;
	color: #467bbf;
	font-family: "PT Sans Bold";
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
}
.menu__icon{
	display: inline-block;
	width: 12px;
	height: 19px;
	margin-right: 7px;
}
.menu{
	text-align: center;
	height: 74px;
}
.menu__logo{
	display: inline-block;
    float: left;
    padding-top: 20px;
}
.home__city{
	margin-top: 123px;
	font-family:'PT Sans Bold';
	font-size: 150px;
	font-weight: 700;
}
.home__city-o{
	font-family: "PT Sans Bold";
	font-size: 80px;
	font-weight: 700;
}
.month{
	width: 200px;
	display: inline-block;
	vertical-align: middle;
	font-family: "PT Sans Regular";
	font-size: 24px;
	font-weight: 400;
}
.price{
	display: inline-block;
	vertical-align: middle;
	font-family: "PT Sans Bold";
	font-size: 36px;
	font-weight: 700;
}
.home__wrapper{
	position: relative;
	float: left;
	margin-left: 39px;
}
.home__btn{
	cursor: pointer;
	margin-top: 73px;
    margin-left: 170px;
	color: #ffffff;
	font-family: "PT Sans - Caption";
	font-size: 14px;
	font-weight: 400;
	background-color: #3375b9;
	width: 203px;
	height: 46px;
	border-radius: 3px;
	border: 1px solid #ffffff;
}
.home__btn:hover{
	background-color: #ffffff;
	color: #3375b9;
}
.balls{
	margin-top: 37px;
	float: right;
	list-style: none;
}
.numbers-li{
	cursor: pointer;
	display: flex;
    margin-bottom: 13px;
    justify-content: center;
    align-items: center;
    width: 46px;
	height: 46px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.28);
	background-color: #ffffff;
	border-radius: 50%;
	color: #467bbf;
	font-family: Helvetica;
	font-size: 24px;
	font-weight: 700;
}
.numbers-li:hover{
	box-shadow: 0 25px 55px 0 rgba(0, 0, 0, 0.21), 0 16px 28px 0 rgba(0, 0, 0, 0.22);
}
.arrow-left{
	position: absolute;
	display: inline-block;
	bottom: 26px;
    right: 118px;

}
.arrow-right{
	position: absolute;
	display: inline-block;
	bottom: 7px;
    right: 81px;
}
.active{
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.28);
	background-color: #467bbf;
	color: #ffffff;
	font-family: Helvetica;
	font-size: 24px;
	font-weight: 700;
}
.vantage{
	background: url(../pic/map.png) no-repeat bottom right;
    height: 1268px;
    width: 100%;

}
.vantage-items{
	margin-top: 39px;
	margin-left: auto;
}
.vantage-items{
	position: relative;
	/*display: inline-block;*/
	flex-wrap: wrap;
    width: 775px;
    flex-direction: row;
    justify-content: flex-end;
    display: flex;
}
.vantage-item,.vantage-item1,.vantage-item2,.vantage-item3,.vantage-item4,.vantage-item5{
	/*display: inline-block;*/
	width: 49%;

	
}
.vantage__img{
	width: 89px;
	height: 76px;
}
.vantage-item2{
	margin-top: 54px;
}
.vantage-item3{
	margin-top: 72px;
}
.vantage-item4,.vantage-item5{
	margin-top: 56px;
}
.vantage__text-b{
	margin-top: 21px;
	color: #000000;
	font-family: "PT Sans - Caption";
	font-size: 22px;
	font-weight: 400;
	line-height: 24px;
}

.vantage__text{
	margin-top: 11px;
	color: #353535;
	font-family: "PT Sans Regular";
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}
.vantage__plane{
	width: 717px;
	height: 625px;
	display: inline-block;
    position: absolute;
    top: 898px;
    right: 843px;
}
.tour__block{
	cursor: pointer;
	position: relative;
	text-align: center;
	width: 378px;
	height: 457px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.28);
	background-color: #ffffff;
	
}
.tour__block:hover{
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.28)
}
.tour__img{
	width: 378px;
	height: 370px;
}
.tour__btn{
	margin-top: 18px;
	width: 203px;
	height: 46px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.28);
	border-radius: 3px;
	background-color: #467bbf;
	color: #ffffff;
	font-family: "PT Sans - Caption";
	font-size: 14px;
	font-weight: 400;
	border: none;
}
.tour__btn:hover{
	box-shadow: 0 25px 55px 0 rgba(0, 0, 0, 0.21), 0 16px 28px 0 rgba(0, 0, 0, 0.22);
}
.tours{
	margin-top: 90px;
	display: flex;
	justify-content: space-between;
}
.tour__lent-1{
	position: absolute;
    top: 22px;
    right: 98px;
}
.tour__lent-2{
	position: absolute;
    top: 22px;
    right: 58px;
}
.tour__lent-3{
	position: absolute;
	top: 22px;
	right: 255px;
}
.sublist{
	padding-top: 52px;
	height: 239px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.28);
	background-color: #ffffff;
}
.sublist__quest{
	color: #353535;
	font-family: "PT Sans Bold";
	font-size: 24px;
	font-weight: 700;
}
.sublist__answ{
	color: #000000;
	font-family: "PT Sans Regular";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.sublist__btn{
	cursor: pointer;
	float: right;
	margin-right: 30px;
	color: #ffffff;
	font-family: "PT Sans - Caption";
	font-size: 14px;
	font-weight: 400;
	width: 203px;
	height: 46px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.28);
	border-radius: 3px;
	background-color: #467bbf;
	border: none;
}
.sublist__btn:hover{
	box-shadow: 0 25px 55px 0 rgba(0, 0, 0, 0.21), 0 16px 28px 0 rgba(0, 0, 0, 0.22);
}
.sublist__text{
	display: inline-block;
	vertical-align: middle;
}
.sublist__form{
	margin-left: 47px;
	padding-left: 21px;
	width: 388px;
	height: 46px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.14), 1px 2px 2px rgba(0, 0, 0, 0.16);
	background-color: #ffffff;
	border: none;

	}
.icons{
	margin-top: 41px;
	float: left;
	list-style: none;
	display: inline-block;
}
.icons__list{
	display: inline-block;
	width: 54px;
	height: 54px;
	margin-right: 20px;
	border-radius: 50%;
}
.icons__list:hover{
	box-shadow: 0 25px 55px 0 rgba(0, 0, 0, 0.21), 0 16px 28px 0 rgba(0, 0, 0, 0.22);
}

.reviews{
	margin-top: 60px;
}
.reviews__clients{
	position: relative;
	color: #353535;
	font-family: "PT Sans Bold";
	font-size: 48px;
	font-weight: 700;
}
.reviews__clients:after{
	content: '';
	position: absolute;
	width: 80px;
	height: 3px;
	top: 57px;
	left: 0px;
	background-color: #467bbf;
}
.reviews__blocks{
	margin-top: 200px;	
	display: flex;
	justify-content: space-between;
}
.reviews__block{
	position: relative;
	padding-left: 30px;
	width: 348px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.28);
	background-color: #ffffff;
}
.reviews__hide{
	display: none;
    position: absolute;
    top: 259px;
    left: 0px;
    z-index: 1;
    width: 348px;
    padding-left: 30px;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.28);
    background-color: #ffffff;
}
.reviews__block:hover .reviews__hide{
	display: block;
	height: auto;
}
.reviews__name{
	position: relative;
	padding-top: 57px;
	color: #353535;
	font-family: "PT Sans Bold";
	font-size: 24px;
	font-weight: 700;
}
.reviews__photo{
	width: 150px;
	height: 150px;
	border-radius: 50%;
    position: absolute;
    top: -125px;
    right: 107px;
}
/*.reviews__photo-2{
	width: 150px;
	height: 150px;
    position: absolute;
    top: -125px;
    right: 107px;
}
.reviews__photo-3{
	width: 150px;
	height: 150px;
    position: absolute;
    top: -125px;
    right: 107px;
}*/
.reviews__photo-border{
	width: 176px;
	height: 176px;
	position: absolute;
	top: -138px;
    right: 95px;
        
}
.reviews__plane-1{
	position: absolute;
	    top: -78px;
    right: 164px;
    
}


.reviews__date{
	margin-top: 10px;
	color: #999999;
	font-family: "PT Sans - Caption";
	font-size: 12px;
	font-weight: 400;
}
.reviews__rew{
	margin-top: 10px;
	color: #353535;
	font-family: "PT Sans Italic";
	font-size: 14px;
	font-style: italic;
	line-height: 24px;
}
.partners{
	margin-top: 60px;
}
.partners__name{
	position: relative;
	color: #353535;
	font-family: "PT Sans Bold";
	font-size: 48px;
	font-weight: 700;
}
.partners__name:after{
	content: '';
	position: absolute;
	width: 80px;
	height: 3px;
	top: 57px;
	left: 0px;
	background-color: #467bbf;
}
.partners__blocks{
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	list-style: none;

}
.partners__block{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 156px;
	height: 93px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.28);
	background-color: #ffffff;
}
.contacts{
	margin-top: 60px;

}
.contacts__name{
	position: relative;
	color: #353535;
	font-family: "PT Sans Bold";
	font-size: 48px;
	font-weight: 700;
}
.contacts__name:after{
	content: '';
	position: absolute;
	width: 80px;
	height: 3px;
	top: 57px;
	left: 0px;
	background-color: #467bbf;
}
.contacts__blocks{
	width: 80%;
	margin: 0 auto;
	margin-top: 61px;
	display: flex;
	justify-content: space-around;
}
.contacts__block{
	display: inline-block;

	/*margin-right: 109px;*/
}
.contacts__text{
	margin-top: 25px;
	font-family: "PT Sans Regular";
	font-size: 20px;
	font-weight: 400;
	line-height: 36px;
}
.contacts__email{
	color: #467bbf;
	font-family: "PT Sans Regular";
}
.contacts__email:hover{
	font-family: "PT Sans Bold";
}
.social-icons{
	display: flex;
	justify-content: center;
	margin-top: 107px;
}
.footer__wrapper{
	float: right;
	margin-top: 49px;
}
.footer__text{
	display: inline-block;
	color: #ffffff;
	font-family: "PT Sans - Caption";
	font-size: 14px;
	font-weight: 400;
	}
.footer__logo{
	display: inline-block;
	}
.wrapper{
	background: url(../pic/foot.png) no-repeat bottom;
	height: 1400px;
}
.tour__type-1,.tour__type-2, .tour__type-3{
	color: #ffffff;
	font-family: "PT Sans - Caption";
	font-size: 24px;
	font-weight: 400;
}
.tour__type-1{
	position: absolute;
	top: 23px;
    left: 19px;
}
.tour__type-2{
	position: absolute;
	top: 23px;
    left: 23px;
}
.tour__type-3{
	position: absolute;
	top: 23px;
	left: 21px;
}
.vantage__quest{
	position: relative;
	cursor: pointer;
	display: inline-block;
	width: 22px;
	height: 22px;
	vertical-align: middle;
	margin-left: 12px;
}
.hidden__message{
	display: none;
	width: 340px;
	height: 118px;
	padding-top: 21px;
	padding-left: 14px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.28);
	border-radius: 5px;
	border: 1px solid #f2f2f2;
	background-color: #ffffff;
	color: #353535;
	font-size: 14px;
	line-height: 24px;
}
.hidden__text{
	font-family: "PT Sans";
	font-weight: 400;
}
.hidden__text-b{
	font-family: "PT Sans";
	font-weight: 700;
}
.vantage__quest:hover .hidden__message{
	display: block;
	position: absolute;
	top: 100px;
	left: 100px;
}
.reviews__block:hover .reviews__photo{
	box-shadow: 0 25px 55px 0 rgba(0, 0, 0, 0.21), 0 16px 28px 0 rgba(0, 0, 0, 0.22);
}
.reviews__block:hover .reviews__plane-1{
	animation: 3s rot infinite linear;
	
}
